<%= form_for(@profile, :url => {:action => 'update', :controller => 'profiles'},
                       :html => { :multipart => true, :class => "form-horizontal" }) do |f| %>
  <% if @profile.errors.any? %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <strong><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</strong>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
      <% unless @profile.avatar.nil? %>
        <%= image_tag @profile.avatar.url(:tiny) %>
      <% end %>
      <%= f.file_field :avatar %>
      <%= link_to 'Crop your avatar', {:controller => :profiles, :action => :crop_avatar}, :class => "btn" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :nick, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nick %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :forename, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :forename %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :surname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bio %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit(:class => "btn btn-primary") %>
    <%= link_to 'Back', @profile, :class => "btn" %>
  </div>
<% end %>
