<!DOCTYPE html>
<html>
<head>
  <title>OpenShot</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<br /><br />
<%= link_to 'Home', :controller => :home %>

</body>
</html>
