<!DOCTYPE html>
<html>
<head>
  <title>OpenShot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= image_tag "openshot.png", :alt => 'OpenShot' %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>, Nick <%= current_user.profile.nick %>
    <%= link_to 'Account', edit_user_registration_path %> |
    <%= link_to 'Profile', current_user.profile %> |
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<%= yield %>

<br /><br />

</body>
</html>
