<%= form_for [@profile, @picture], :html => { :multipart => true } do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo%>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :album %><br />
    <%= collection_select(:picture, :album_id, @albums, :id, :title, {:include_blank => true}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
