<h3>EXIF data:</h3>
<table class="zebra-striped">
<tbody>
  <tr>
    <th>Camera:</th>
    <td><%= picture.metadata.model %></td>
  </tr>
  <tr>
    <th>Taken on (original):</th>
    <td><%= picture.metadata.date_time_original %></td>
  </tr>
  <tr>
    <th>Digitized:</th>
    <td><%= picture.metadata.date_time_digitized %></td>
  </tr>
  <tr>
    <th>Exposure time:</th>
    <td>
      <% if picture.metadata.exposure_time.is_a?(String) %>
        <%= (Rational(*(picture.metadata.exposure_time.split('/').map( &:to_i )))*45).to_f.round(3) %> s
        (<%= picture.metadata.exposure_time %>)
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Focal length:</th>
    <td>
      <% unless picture.metadata.focal_length.nil? %>
        <%= picture.metadata.focal_length.round %> mm
        <% unless picture.metadata.focal_length_in_35mm_film.nil? %>
          (<%= picture.metadata.focal_length_in_35mm_film %> mm in 35mm film)
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Aperture:</th>
    <td>f/<%= picture.metadata.aperture %></td>
  </tr>
  <tr>
    <th>ISO:</th>
    <td><%= picture.metadata.iso %></td>
  </tr>
  <tr>
    <th>Exposure bias value:</th>
    <td>
      <% unless picture.metadata.exposure_bias_value.nil? %>
        <%= picture.metadata.exposure_bias_value.round(3) %> EV
      <% end %>
    </td>
  </tr>
  <tr>
    <th>White balance:</th>
    <td>
      <% if picture.metadata.white_balance == 0 %>
        Auto white balance
      <% elsif picture.metadata.white_balance == 2 %>
        Manual white balance
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Exposure program:</th>
    <td>
      <%=
      case picture.metadata.exposure_program
        when 0
          'Not defined'
        when 1
          'Manual'
        when 2
          'Normal program'
        when 3
          'Aperture priority'
        when 4
          'Shutter priority'
        when 5
          'Creative program (biased toward depth of field)'
        when 6
          'Action program (biased toward fast shutter speed)'
        when 7
          'Portrait mode (for closeup photos with the background out of focus)'
        when 8
          'Landscape mode (for landscape photos with the background in focus)'
      end
      %>
    </td>
  </tr>
  <tr>
    <th>Original dimensions:</th>
    <td><%= picture.metadata.width %>x<%= picture.metadata.height %></td>
  </tr>
  <tr>
    <th>Flash:</th>
    <td>
      <%=
      case picture.metadata.flash
        when 0
            'Flash did not fire'
        when 1
            'Flash fired'
        when 5
            'Strobe return light not detected'
        when 7
            'Strobe return light detected'
        when 9
            'Flash fired, compulsory flash mode'
        when 13
            'Flash fired, compulsory flash mode, return light not detected'
        when 15
            'Flash fired, compulsory flash mode, return light detected'
        when 16
            'Flash did not fire, compulsory flash mode'
        when 24
            'Flash did not fire, auto mode'
        when 25
            'Flash fired, auto mode'
        when 29
            'Flash fired, auto mode, return light not detected'
        when 31
            'Flash fired, auto mode, return light detected'
        when 32
            'No flash function'
        when 65
            'Flash fired, red-eye reduction mode'
        when 69
            'Flash fired, red-eye reduction mode, return light not detected'
        when 71
            'Flash fired, red-eye reduction mode, return light detected'
        when 73
            'Flash fired, compulsory flash mode, red-eye reduction mode'
        when 77
            'Flash fired, compulsory flash mode, red-eye reduction mode, return light not detected'
        when 79
            'Flash fired, compulsory flash mode, red-eye reduction mode, return light detected'
        when 89
            'Flash fired, auto mode, red-eye reduction mode'
        when 93
            'Flash fired, auto mode, return light not detected, red-eye reduction mode'
        when 95
            'Flash fired, auto mode, return light detected, red-eye reduction mode'
      end
      %>
    </td>
  </tr>
  <tr>
    <th>Software:</th>
    <td><%= picture.metadata.software %></td>
  </tr>
  <tr>
    <th>Exposure mode:</th>
    <td>
      <% if picture.metadata.exposure_mode == 0 %>
        Auto exposure
      <% elsif picture.metadata.exposure_mode == 1 %>
        Manual exposure
      <% elsif picture.metadata.exposure_mode == 2 %>
        Auto bracket
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Metering mode:</th>
    <td>
      <%=
      case picture.metadata.metering_mode
        when 0
            'Unknown'
        when 1
            'Average'
        when 2
            'CenterWeightedAverage'
        when 3
            'Spot'
        when 4
            'MultiSpot'
        when 5
            'Pattern'
        when 6
            'Partial'
        when 255
            'other'
      end
      %>
    </td>
  </tr>
  <tr>
    <th>Orientation:</th>
    <td>
      <% unless picture.metadata.height.nil? || picture.metadata.width.nil? %>
        <%= picture.metadata.height > picture.metadata.width ? 'Portrait' : 'Landscape' %>
        <% unless picture.metadata.orientation.nil? %>
          (<%=
          case picture.metadata.orientation
            when 1
              'top-left'
            when 2
              'top-right'
            when 3
              'bottom-right'
            when 4
              'bottom-left'
            when 5
              'left-top'
            when 6
              'right-top'
            when 7
              'right-bottom'
            when 8
              'left-bottom'
          end
          %>)
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Brightness value:</th>
    <td><%= picture.metadata.brightness_value %> EV</td>
  </tr>
  <tr>
    <th>Exposure bias value:</th>
    <td><%= picture.metadata.exposure_bias_value %> EV</td>
  </tr>
  <tr>
    <th>Max aperture:</th>
    <td>f/<%= picture.metadata.max_aperture_value %></td>
  </tr>
  <tr>
    <th>Subject distance:</th>
    <td><%= picture.metadata.subject_distance %></td>
  </tr>
  <tr>
    <th>Light source:</th>
    <td><%= picture.metadata.light_source %>
      <%=
      case picture.metadata.light_source
        when 0
          'Unknown'
        when 1
          'Daylight'
        when 2
          'Fluorescent'
        when 3
          'Tungsten (incandescent light)'
        when 4
          'Flash'
        when 9
          'Fine weather'
        when 10
          'Cloudy weather'
        when 11
          'Shade'
        when 12
          'Daylight fluorescent (D 5700 - 7100K)'
        when 13
          'Day white fluorescent (N 4600 - 5400K)'
        when 14
          'Cool white fluorescent (W 3900 - 4500K)'
        when 15
          'White fluorescent (WW 3200 - 3700K)'
        when 17
          'Standard light A'
        when 18
          'Standard light B'
        when 19
          'Standard light C'
        when 20
          'D55'
        when 21
          'D65'
        when 22
          'D75'
        when 23
          'D50'
        when 24
          'ISO studio tungsten'
        when 255
          'Other light source'
      end
      %>
    </td>
  </tr>
  <tr>
    <th>Flash energy:</th>
    <td><%= picture.metadata.flash_energy %></td>
  </tr>
  <tr>
    <th>GPS Latitude:</th>
    <td><%= picture.metadata.gps_latitude %></td>
  </tr>
  <tr>
    <th>GPS Longitude:</th>
    <td><%= picture.metadata.gps_longitude %></td>
  </tr>
  <tr>
    <th>GPS Altitude:</th>
    <td><%= picture.metadata.gps_altitude %></td>
  </tr>
  <tr>
    <th>GPS Direction:</th>
    <td><%= picture.metadata.gps_direction %></td>
  </tr>
  <tr>
    <th>Artist:</th>
    <td><%= picture.metadata.artist %></td>
  </tr>
  <tr>
    <th>Copyright:</th>
    <td><%= picture.metadata.copyright %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= picture.metadata.description %></td>
  </tr>
  <tr>
    <th>User comment / keywords:</th>
    <td><%= picture.metadata.user_comment %></td>
  </tr>
</tbody>
</table>
