<h3>Picture details</h3>

<dl>
    <dt>This picture was taken with a</dt>
    <dd><%= picture.metadata.model %></dd>

    <dt>This picture was taken on</dt>
    <dd><%= picture.metadata.date_time %></dd>
</dl>

<p>Exposure time was <%= picture.metadata.exposure_time %>s, focal length <%= picture.metadata.focal_length %>mm,
aperture f/<%= picture.metadata.aperture %>, ISO <%= picture.metadata.iso %>.</p>
