<h3>Picture details</h3>

<dl>
    <dt>This picture was taken with a</dt>
    <dd><%= picture.exifdetails[:model] %></dd>

    <dt>This picture was taken on</dt>
    <dd><%= picture.exifdetails[:date_time] %></dd>
</dl>

<p>Exposure time was <%= picture.exifdetails[:exposure_time] %>s, focal length <%= picture.exifdetails[:focal_length] %>mm,
aperture f/<%= picture.exifdetails[:aperture] %>, ISO <%= picture.exifdetails[:iso] %>.</p>
