<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Prev', @prev_link unless @prev_link.nil? %> | <%= link_to 'Next', @next_link unless @next_link.nil? %>
</p>

<p>
  <%= link_to image_tag(@picture.photo.url(:medium)), @picture.photo.url %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Album:</b>
  <% unless @picture.album.nil? %>
    <%= link_to @picture.album.title, profile_album_path(@picture.profile, @picture.album) %>
  <% end %>
</p>

<p>
  <b>Comments:</b>
  <% @comments.each do |comment| %>
    <%= comment.user.profile.nick %> said: <strong><%= comment.comment %></strong><br /><br />
  <% end %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for [@picture, @comment], :url => { :action => 'create_comment', :controller => 'pictures'} do |f| %>
    <%= f.text_area :comment, :cols => 20, :rows => 2 %>
    <div><%= f.submit %></div>
  <% end %>
</p>

<% if gps = @picture.gps %>
  <div id="mapdiv" style="width: 500px; height: 200px;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat( <%= gps[1] %>, <%= gps[0] %> )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat));

    map.setCenter (lonLat, zoom);
  </script>
<% end %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @picture.profile } %>
    <hr />

    <%= render :partial => "minidetails", :locals => { :picture => @picture } %>
    <hr />

    <% if @viewscope == 'album' %>
        <%= render :partial => "albums/minicontentindex", :locals => { :album => @picture.album } %>
    <% else %>
        This picture appears in the album:<br />
        <%= render :partial => "albums/miniteaser", :locals => { :album => @picture.album } %>
    <% end %>
    <hr />

    <%= render :partial => "albums/miniuserindex", :locals => { :albums => @picture.profile.albums } %>
<% end %>
