<p>
  <% unless @prev_link.nil? %>
    <%= link_to 'Prev', @prev_link, :class => "btn" %>
  <% else %>
    <%= link_to 'Prev', "#", :class => "btn disabled" %>
  <% end %>

  <% unless @next_link.nil? %>
    <%= link_to 'Next', @next_link, :class => "btn" %>
  <% else %>
    <%= link_to 'Next', "#", :class => "btn disabled" %>
  <% end %>

  ###

  <%= link_to 'Edit', edit_profile_picture_path(@picture.profile, @picture), :class => "btn" %>
  <%= link_to 'Destroy', profile_picture_path(@picture.profile, @picture), :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
  <%= link_to 'Back', @back_link, :class => "btn" %><br />
</p>

<p>
  <%= link_to image_tag(@picture.photo.url(:medium), :class => 'detail-image'), @picture.photo.url, {:class => 'lightbox'} %>
</p>

<% unless @picture.title.empty? %>
    <h2><%= @picture.title %></h2>
<% end %>

<% unless @picture.album.nil? %>
<p>
  <b>Album:</b>
  <%= link_to @picture.album.title, profile_album_path(@picture.profile, @picture.album) %>
</p>
<% end %>

<% unless @picture.tags.empty? %>
<p>
  <b>Tags:</b>
  <%= raw @picture.tags.collect{|tag| '<a href="#">'+tag.name+'</a>'}.join(', ') %>
</p>
<% end %>

<div class="picture-details-tabs">
    <ul class="tabs" data-tabs="tabs" >
      <li class="active"><a href="#picture-comments">Comments</a></li>
      <li><a href="#picture-metadata">EXIF metadata</a></li>
    </ul>

    <div class="tab-content">
      <div class="active" id="picture-comments">
          <h3>Comments:</h3>
          <% @comments.each do |comment| %>
            <blockquote>
              <%= render :partial => "profiles/popover", :locals => { :profile => comment.profile, :popover_element => image_tag(comment.profile.avatar.url(:micro), :class => 'profile-image') } %>
              <p><%= comment.comment %></p>
              <small><%= comment.profile.nick %>, <span class="comment-ago" title="<%= comment.created_at %>" rel="twipsy"><%= time_ago_in_words(comment.created_at) %> ago</span></small>
            </blockquote>
          <% end %>
          <% if @comments.empty? %>
            <em>There are no comments at the moment.</em>
          <% end %>

          <% if @comment.errors.any? %>
            <div class="alert-message block-message error fade in" data-alert="alert">
              <a class="close" href="#">&times;</a>
              <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h4>
              <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <% if user_signed_in? %>
            <h4>Add a comment</h4>
            <%= form_for [@picture, @comment], :url => { :action => 'create_comment', :controller => 'pictures'} do |f| %>
              <%= image_tag(current_user.profile.avatar.url(:tiny), :class => 'profile-image') %>
              <%= f.text_area :comment, :cols => 20, :rows => 2 %>
              <div><%= f.submit(:class => "btn primary") %></div>
            <% end %>
          <% else %>
            <p><em><%= link_to "Sign in", new_user_session_path %> to add a comment!</em></p>
          <% end %>
      </div>
      <div id="picture-metadata">
        <%= render :partial => "metadata-table", :locals => { :picture => @picture } %>
      </div>
    </div>
</div>

<% unless @picture.metadata.gps_latitude.nil? %>
  <h3>Location of the image:</h3>
  <div id="mapdiv" style="width: 500px; height: 200px;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat( <%= @picture.metadata.gps_longitude %>, <%= @picture.metadata.gps_latitude %> )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat));

    map.setCenter (lonLat, zoom);
  </script>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @picture.profile } %>
    <hr />

    <%= render :partial => "minidetails", :locals => { :picture => @picture } %>
    <hr />

    <% if @viewscope == 'album' %>
        <%= render :partial => "albums/minicontentindex", :locals => { :album => @picture.album } %>
        <hr />
    <% elsif !@picture.album.nil? %>
        This picture appears in the album:<br />
        <%= render :partial => "albums/miniteaser", :locals => { :album => @picture.album } %>
        <hr />
    <% end %>
<% end %>
