<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Prev', @prev_link unless @prev_link.nil? %> | <%= link_to 'Next', @next_link unless @next_link.nil? %>
</p>

<p>
  <%= link_to image_tag(@picture.photo.url(:medium)), @picture.photo.url %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Album:</b>
  <% unless @picture.album.nil? %>
    <%= link_to @picture.album.title, profile_album_path(@picture.profile, @picture.album) %>
  <% end %>
</p>

<p>
  <b>From:</b>
  <%= link_to image_tag(@picture.profile.avatar.url(:tiny)), @picture.profile %>
  <%= @picture.profile.nick %>
</p>

<p>
  <b>Comments:</b>
  <% @comments.each do |comment| %>
    <%= comment.user.profile.nick %> said: <strong><%= comment.comment %></strong><br /><br />
  <% end %>

  <%= form_for [@picture, @comment], :url => { :action => 'create_comment', :controller => 'pictures'} do |f| %>
    <%= f.text_area :comment, :cols => 20, :rows => 2 %>
    <div><%= f.submit %></div>
  <% end %>
</p>

<% if gps = @picture.gps %>
  <div id="mapdiv" style="width: 500px; height: 200px;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat( <%= gps[1] %>, <%= gps[0] %> )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat));

    map.setCenter (lonLat, zoom);
  </script>
<% end %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
