<p id="notice"><%= notice %></p>

<p>
    <!--<%= image_tag @picture.photo.url %>-->
    <%= image_tag @picture.photo.url(:small) %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
