<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Prev', @prev_link unless @prev_link.nil? %> | <%= link_to 'Next', @next_link unless @next_link.nil? %>
</p>

<p>
  <%= link_to image_tag(@picture.photo.url(:medium)), @picture.photo.url %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Album:</b>
  <% unless @picture.album.nil? %>
    <%= link_to @picture.album.title, @picture.album %>
  <% end %>
</p>

<p>
  <b>From:</b>
  <%= @picture.user.profile.nick %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
