<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_picture_path(@picture) %> | <%= link_to 'Back', pictures_path %> |
  <%= link_to 'Prev', @prev_link unless @prev_link.nil? %> | <%= link_to 'Next', @next_link unless @next_link.nil? %>
</p>

<p>
  <%= link_to image_tag(@picture.photo.url(:medium), :class => 'detail-image'), @picture.photo.url %>
</p>

<h2><%= @picture.title %></h2>

<p>
  <b>Album:</b>
  <% unless @picture.album.nil? %>
    <%= link_to @picture.album.title, profile_album_path(@picture.profile, @picture.album) %>
  <% end %>
</p>

<div id="picture-comments">
  <h3>Comments:</h3>
  <% @comments.each do |comment| %>
    <%= link_to image_tag(comment.user.profile.avatar.url(:tiny), :class => 'profile-image'), comment.user.profile %>
    <%= comment.user.profile.nick %> said <span class="comment-ago" title="<%= comment.created_at %>"><%= time_ago_in_words(comment.created_at) %> ago</span>: <strong><%= comment.comment %></strong><br /><br />
  <% end %>
  <% if @comments.empty? %>
    <em>There are no comments at the moment.</em>
  <% end %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h4>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <h4>Add a comment</h4>
    <%= form_for [@picture, @comment], :url => { :action => 'create_comment', :controller => 'pictures'} do |f| %>
      <%= image_tag(current_user.profile.avatar.url(:tiny), :class => 'profile-image') %>
      <%= f.text_area :comment, :cols => 20, :rows => 2 %>
      <div><%= f.submit %></div>
    <% end %>
  <% end %>
</div>

<% if gps = @picture.gps %>
  <h3>Location of the image:</h3>
  <div id="mapdiv" style="width: 500px; height: 200px;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat( <%= gps[1] %>, <%= gps[0] %> )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat));

    map.setCenter (lonLat, zoom);
  </script>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @picture.profile } %>
    <hr />

    <%= render :partial => "minidetails", :locals => { :picture => @picture } %>
    <hr />

    <% if @viewscope == 'album' %>
        <%= render :partial => "albums/minicontentindex", :locals => { :album => @picture.album } %>
        <hr />
    <% elsif !@picture.album.nil? %>
        This picture appears in the album:<br />
        <%= render :partial => "albums/miniteaser", :locals => { :album => @picture.album } %>
        <hr />
    <% end %>

    <%= render :partial => "albums/miniuserindex", :locals => { :albums => @picture.profile.albums } %>
<% end %>
