<div class="mediumview-album">
  <% unless album.pictures.empty? %>
    <% if album.pictures.count > 1 %>
      <div class="medium-image-stack">
        <%= link_to image_tag(album.pictures.first.photo.url(:small), :class => 'medium-image'), profile_album_path(album.profile, album), :class => 'image-stacked image-stacked-first' %>
        <%= link_to image_tag(album.pictures.second.photo.url(:small), :class => 'medium-image'), profile_album_path(album.profile, album), :class => 'image-stacked image-stacked-second' %>
      </div>
    <% else %>
      <%= link_to image_tag(album.pictures.first.photo.url(:small), :class => 'medium-image'), profile_album_path(album.profile, album) %>
    <% end %>
  <% end %>
  <div class="mediumview-meta">
    <h3><%= link_to album.title, profile_album_path(album.profile, album) %></h3>
    <span class="label notice"><%= pluralize(album.pictures.count, 'picture') %></span>
    by <%= link_to album.profile.nick, album.profile, {:title => "#{album.profile.forename} #{album.profile.surname}", :rel => 'tooltip'} %>
  </div>
</div>
