<div class="album-index">
  <h2>Listing <%= pluralize(@albums.count, 'album') %></h2>

  <% if can? :create, @profile.albums.build %>
    <div class="album-navigation btn-toolbar">
      <a href="<%= new_profile_album_path %>" class="btn btn-primary">
        <i class="icon-file icon-white"></i>
        New album
      </a>
    </div>
  <% end %>

  <%= paginate @albums %>

  <div class="album-list">
    <% @albums.each do |album| %>
      <%= render :partial => "albums/mediumview", :locals => { :album => album } %>
    <% end %>
    <div class="clearfix"></div>
  </div>

  <%= paginate @albums %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @profile } %>
    <hr />
<% end %>
