<p id="notice"><%= notice %></p>

<h2><%= @album.title %></h2>

<div><span class="label notice"><%= pluralize(@album.pictures.count, 'picture') %></span></div>

<% if can? :edit, @album %>
  <%= link_to 'Edit', edit_profile_album_path(@album.profile, @album), :class => "btn" %>
<% end %>
<% if can? :destroy, @album %>
  <%= link_to 'Destroy', profile_album_path(@album.profile, @album), :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
<% end %>
<%= link_to 'Back', profile_albums_path, :class => "btn" %>

<%= paginate @pictures %>

<% @pictures.each do |picture| %>
  <%= render :partial => "pictures/mediumview", :locals => { :picture => picture, :path => profile_album_picture_path(@album.profile, @album, picture) } %>
<% end %>

<div class="clearfix"></div>

<%= paginate @pictures %>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @album.profile } %>

    <%= render :partial => "albums/miniuserindex", :locals => { :albums => @album.profile.albums } %>
<% end %>
