<%= form_for([@profile, @album], :html => { :class => "form-stacked" }) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit(:class => "btn primary") %>
    <%= link_to 'Back', profile_albums_path(@profile), :class => "btn" %>
  </div>
<% end %>
