<h2>Listing <%= pluralize(@albums.count, 'album') %></h2>

<% if can? :create, @profile.albums.build %>
  <%= link_to 'New Album', new_profile_album_path, :class => "btn" %>
<% end %>

<br />

<%= paginate @albums %>

<% @albums.each do |album| %>
  <%= render :partial => "albums/mediumview", :locals => { :album => album } %>
<% end %>

<div class="clearfix"></div>

<%= paginate @albums %>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @profile } %>
    <hr />
<% end %>
