<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b><%= pluralize(@album.pictures.count, 'picture') %></b>
  <% for picture in @album.pictures %>
    <%= link_to image_tag(picture.photo.url(:thumb)), profile_album_picture_path(@album.profile, @album, picture) %>
  <% end %>
</p>

<p>
  <b>From:</b>
  <%= link_to image_tag(@album.profile.avatar.url(:tiny)), @album.profile %>
  <%= @album.profile.nick %>
</p>


<%= link_to 'Edit', edit_profile_album_path(@album) %> |
<%= link_to 'Back', profile_albums_path %>

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @album.profile } %>

    <%= render :partial => "albums/miniuserindex", :locals => { :albums => @album.profile.albums } %>
<% end %>
