<b>From:</b>
<%= render :partial => "profiles/popover", :locals => { :profile => profile, :popover_element => image_tag(profile.avatar.url(:tiny), :class => 'profile-image') } %>
<%= link_to profile.nick, profile, {:title => "#{profile.forename} #{profile.surname}", :rel => 'twipsy'} %>
<ul>
    <li><%= link_to "Photostream", profile_pictures_path(profile) %></li>
    <li><%= link_to "Albums", profile_albums_path(profile) %></li>
    <li><%= link_to "User profile", profile_path(profile) %></li>
</ul>
