<p id="notice"><%= notice %></p>

<h2>Profile of &raquo;<%= @profile.forename %> <%= @profile.surname %> (<%= @profile.nick %>)&laquo;</h2>

<p>
  <%= image_tag(@profile.avatar.url(:medium)) %>
</p>

<p>
  <b>Nick:</b>
  <%= @profile.nick %>
</p>

<p>
  <b>Forename:</b>
  <%= @profile.forename %>
</p>

<p>
  <b>Surname:</b>
  <%= @profile.surname %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Location:</b>
  <%= @profile.location %>
</p>

<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>

<p>
  <b><%= pluralize(@albums.count, 'album') %>:</b><br />
  <% for album in @albums %>
    <%= link_to (album.pictures.count > 0 ? image_tag(album.pictures.first.photo.url(:thumb)) : album.title), profile_album_path(@profile, album) %>
  <% end %>
</p>

<p>
  <b><%= pluralize(@pictures.count, 'picture') %>:</b><br />
  <% for picture in @pictures %>
    <%= link_to image_tag(picture.photo.url(:thumb)), profile_picture_path(@profile, picture) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |

<% content_for :sidebar do %>
    <%= render :partial => "profiles/miniview", :locals => { :profile => @profile } %>
    <hr />
    <%= render :partial => "albums/miniuserindex", :locals => { :albums => @albums } %>
<% end %>
