<%= form_for [@profile, @picture], :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <% if @picture.errors.any? %>
    <div class="alert-message block-message error fade in" data-alert="alert">
      <a class="close" href="#">&times;</a>
      <h3><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h3>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :photo, :class => 'control-label' %>
    <div class="controls">
        <%= f.file_field :photo%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :album, :class => 'control-label' %>
    <div class="controls">
        <%= collection_select(:picture, :album_id, @albums, :id, :title, {:include_blank => true}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_list, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :tag_list %>
        <p class="help-block">Separated by comma.</p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(:class => "btn btn-primary") %>

    <% if @picture.persisted? %>
      <%= link_to 'Back', profile_picture_path(@profile, @picture), :class => "btn" %>
    <% else %>
      <%= link_to 'Back', profile_pictures_path(@profile), :class => "btn" %>
    <% end %>
  </div>
<% end %>
