<h3>Picture details</h3>

<ul class="picture-mini-details">
	<li><i class="icon-camera"></i> <%= picture.metadata.model %> <span class="muted">Camera model</span></li>
	<li><i class="icon-time"></i> <%= picture.metadata.date_time %> <span class="muted">Taken on</span></li>
	<li><i class="icon-star-empty"></i> <%= picture.metadata.exposure_time %>s <span class="muted">Shutter speed</span></li>
	<li><i class="icon-resize-full"></i> <%= picture.metadata.focal_length %>mm <span class="muted">Focal length</span></li>
	<li><i class="icon-adjust"></i> f/<%= picture.metadata.aperture %> <span class="muted">Aperture</span></li>
	<li><i class="icon-film"></i> ISO <%= picture.metadata.iso %> <span class="muted">ISO</span></li>
</ul>
