<div class="picture-index">
  <h2>Listing <%= pluralize(@pictures.size, 'picture') %></h2>

  <% if can? :create, @profile.pictures.build %>
    <div class="picture-navigation btn-toolbar">
      <a href="<%= new_profile_picture_path %>" class="btn btn-primary">
        <i class="icon-file icon-white"></i>
        New picture
      </a>
    </div>
  <% end %>

  <%= paginate @pictures %>

  <div class="picture-list">
    <% @pictures.each do |picture| %>
      <%= render :partial => "pictures/mediumview",
                 :locals => { :picture => picture, :path => profile_picture_path(picture.profile, picture) } %>
    <% end %>
  </div>

  <div class="clearfix"></div>

  <%= paginate @pictures %>
</div>

<% content_for :sidebar do %>
    <% unless @profile.nil? %>
      <%= render :partial => "profiles/miniview", :locals => { :profile => @profile } %>
      <hr />
      <%= render :partial => "albums/miniuserindex", :locals => { :albums => @profile.albums } %>
    <% end %>
<% end %>
