<h2>Listing <%= pluralize(@pictures.size, 'picture') %></h2>

<%= paginate @pictures %>

<% @pictures.each do |picture| %>
  <%= render :partial => "pictures/mediumview", :locals => { :picture => picture, :path => profile_picture_path(picture.profile, picture) } %>
<% end %>

<div class="clearfix"></div>

<%= paginate @pictures %>

<% content_for :sidebar do %>
    <% unless @profile.nil? %>
      <%= render :partial => "profiles/miniview", :locals => { :profile => @profile } %>
      <hr />
      <%= render :partial => "albums/miniuserindex", :locals => { :albums => @profile.albums } %>
    <% end %>
<% end %>
