<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>

    <title>rshot</title>
    <%= stylesheet_link_tag    "application" %>
    <script>
        L_ROOT_URL = '/assets/leaflet/';
    </script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
</head>
<body>
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to 'shimmer', {:controller => '/home', :action => 'index'}, :class => 'brand' %></h3>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><%= link_to 'Home', {:controller => '/home', :action => 'index'} %></li>
                <% if user_signed_in? %>
                  <li>
                    <a href="<%= url_for(current_user.profile) %>">
                      <i class="icon-user"></i>
                      Profile
                    </a>
                  </li>
                  <li>
                    <a href="<%= profile_pictures_path(current_user.profile) %>">
                      <i class="icon-picture"></i>
                      My pictures
                    </a>
                  </li>
                  <li>
                    <a href="<%= profile_albums_path(current_user.profile) %>">
                      <i class="icon-folder-open"></i>
                      My albums
                    </a>
                  </li>

                  <li>
                    <a href="<%= new_profile_picture_path(current_user.profile) %>">
                      <i class="icon-camera"></i>
                      Upload picture
                    </a>
                  </li>
                <% end %>
              </ul>

              <div class="btn-group pull-right rshot-user-menu">
                <% if user_signed_in? %>
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= image_tag(current_user.profile.avatar.url(:micro), :class => 'profile-image img-rounded') %>
                    <span class="nick"><%= current_user.profile.nick %></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="<%= url_for(current_user.profile) %>">
                        <i class="icon-user"></i>
                        Profile
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="<%= profile_pictures_path(current_user.profile) %>">
                        <i class="icon-picture"></i>
                        My pictures
                      </a>
                    </li>
                    <li>
                      <a href="<%= profile_albums_path(current_user.profile) %>">
                        <i class="icon-folder-open"></i>
                        My albums
                      </a>
                    </li>

                    <li>
                      <a href="<%= new_profile_picture_path(current_user.profile) %>">
                        <i class="icon-camera"></i>
                        Upload picture
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="<%= edit_user_registration_path %>">
                        <i class="icon-wrench"></i>
                        Account
                      </a>
                    </li>
                    <li>
                      <a href="<%= destroy_user_session_path %>">
                        <i class="icon-off"></i>
                        Sign out
                      </a>
                    </li>
                  </ul>
                <% else %>
                  <a class="btn btn-small" href="<%= new_user_registration_path %>">
                    <i class="icon-plus-sign"></i>
                    Sign up
                  </a>
                  <a class="btn btn-small" href="<%= new_user_session_path %>">
                    <i class="icon-ok-sign"></i>
                    Sign in
                  </a>
                <% end %>
              </div>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </header>

    <div class="container" id="mainContainer">
        <div class="row">
            <div id="main" role="main" class="span9">
                <% flash.each do |name, msg| %>
                    <div class="alert alert-<%= name %> fade in">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <%= msg %>
                    </div>
                <% end %>

                <%= yield %>
            </div>
            <% if content_for?(:sidebar) %>
                <aside class="span3">
                    <%= yield :sidebar %>
                </aside>
            <% end %>
            <div class="clearfix"></div>
        </div>
        <footer>
            <b>shimmer</b> is powered by <a href="http://rshot.net">rshot</a>, a free and
            open-source photo sharing software created by <a href="http://raphael.kallensee.name">Raphael Kallensee</a>.
        </footer>
        <div class="clearfix"></div>
    </div>

</body>
</html>
